<%= simple_form_for(@blog_item) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= f.input :cate_id, collection: BlogItem.cates.map{|k,v| [v, k]}, prompt: '选择分类' %>
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :register_url %>
  </fieldset>

  <div class='form-actions' style='margin-bottom: 0;'>
      <div class='text-right'>
          <%= button_tag(type: 'submit', class: "btn btn-primary btn-large") do %>
            <i class='icon-save'></i> 提交
          <% end %>
      </div>
  </div>
<% end %>
