<h1>Listing mail_tmps</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mail_tmps.each do |mail_tmp| %>
  <tr>
    <td><%= mail_tmp.user %></td>
    <td><%= mail_tmp.title %></td>
    <td><%= mail_tmp.content %></td>
    <td><%= link_to 'Show', mail_tmp %></td>
    <td><%= link_to 'Edit', edit_mail_tmp_path(mail_tmp) %></td>
    <td><%= link_to 'Destroy', mail_tmp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mail tmp', new_mail_tmp_path %>
