<% #fit for render on /setting
 resource ||= current_user
 resource_name ||= :user
%>
<h3>修改密码及名称</h3>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :email, :disabled => true, :required => true %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :password, :autocomplete => "off", :hint => "如果不想改变当前的密码，则留空", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "请输入你当前使用的密码", :required => true %>
  <%= f.button :submit, :class => 'btn-primary' %>
<% end %>

<hr/>
<p>不喜欢使用此账户了? &nbsp;&nbsp; <%= link_to "注销账户", registration_path(resource_name), :data => { :confirm => "确认?" }, :method => :delete %>&nbsp;&nbsp;<i>(*此操作不可撤销。请慎重考虑！)</i></p>