<% title @site.site_title %>
<% meta_keywords @site.user.user_detail.company_keywords %>
<% meta_description @site.user.user_detail.company_keywords %>

<% content_for :head do %>
  <link href="<%= @site.theme.css_url%>" rel="stylesheet">
  <%= raw @site.head %>
<% end %>

<% content_for :header do %>
  <%= raw @site.header %>
<% end %>

<% content_for :footer do %>
  <%= raw @site.footer %>
<% end %>

<ul>
    <% @site_posts.each do |site_post| %>
        <li><%= link_to site_post.title, site_post %></li>
    <% end %>
</ul>

<br />
