<% title @site.site_title %>
<% meta_keywords @site.user.user_detail.company_keywords %>
<% meta_description @site.user.user_detail.company_keywords %>

<% content_for :head do %>
  <link href="<%= @site.theme.css_url%>" rel="stylesheet">
  <%= @site.head %>
<% end %>

<% content_for :header do %>
  <%= raw @site.header %>
<% end %>

<% content_for :footer do %>
  <%= raw @site.footer %>
<% end %>

<% content_for :sidebar do %>
  <div class="row-fluid">
    <div class="span12">
      <div class="box-content box-statistic red-background">
          <h3 class="title text-primary">3</h3>
          <small>文章数</small>
          <div class="text-primary icon-edit align-right"></div>
      </div>
      <div class="box-content box-statistic green-background">
          <h3 class="title text-success">981</h3>
          <small>访问量</small>
          <div class="text-success icon-bar-chart align-right"></div>
      </div>
      <div class="box-content box-statistic muted-background">
          <h3 class="title muted">0</h3>
          <small>社交值</small>
          <div class="muted icon-comments align-right"></div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 box box-nomargin">
      <div class="box-header">
          <div class="title">
              <i class="icon-book"></i>
              联系信息
          </div>
      </div>
      <div class="box-content">
        <%= render :partial => 'user_details/company_info', :locals => {:user_detail => @site.user.user_detail} %>
      </div>
    </div>
  </div>
<% end %>

<h2><%= @site_post.title %></h2>
<hr>
<%= raw @site_post.content %>