<h1>Listing site_comments</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Name</th>
    <th>Mobile phone</th>
    <th>Email</th>
    <th>Content</th>
    <th>Is processed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @site_comments.each do |site_comment| %>
  <tr>
    <td><%= site_comment.site %></td>
    <td><%= site_comment.name %></td>
    <td><%= site_comment.mobile_phone %></td>
    <td><%= site_comment.email %></td>
    <td><%= site_comment.content %></td>
    <td><%= site_comment.is_processed %></td>
    <td><%= link_to 'Show', site_comment %></td>
    <td><%= link_to 'Edit', edit_site_comment_path(site_comment) %></td>
    <td><%= link_to 'Destroy', site_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site comment', new_site_comment_path %>
