<p id="notice"><%= notice %></p>

<p>
  <%= @site_comment.site.site_name %>
</p>

<p>
  <%= @site_comment.name %>
</p>

<p>
  <%= @site_comment.mobile_phone %>
</p>

<p>
  <%= @site_comment.email %>
</p>

<p>
  <%= @site_comment.content %>
</p>

<p>
  <%= @site_comment.is_processed %>
</p>

<%= link_to '返回', site_comments_path %>
