<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @sms_tmp.user %>
</p>

<p>
  <b>Title:</b>
  <%= @sms_tmp.title %>
</p>

<p>
  <b>Content:</b>
  <%= @sms_tmp.content %>
</p>


<%= link_to 'Edit', edit_sms_tmp_path(@sms_tmp) %> |
<%= link_to 'Back', sms_tmps_path %>
