 <h2>短信发布管理</h2>


<div class="row-fluid">
	<div class="span4 box box-bordered box-nomargin">
	  <div class="box-header">
	      <div class="title">
	          <i class="icon-comments"></i>
	          统计信息
	      </div>
	      <div class="actions">
	          <a href="#" class="btn box-remove btn-mini btn-link"><i class="icon-remove"></i>
	          </a>
	          <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
	          </a>
	      </div>
	  </div>
	  <div class="row-fluid">
	      <div class="span12">
	          <div class="box-content box-statistic">
	              <h3 class="title text-error">91</h3>
	              <small>号码总数</small>
	              <div class="text-error icon-plus align-right"></div>
	          </div>
	          <div class="box-content box-statistic">
	              <h3 class="title text-success">1</h3>
	              <small>发送成功</small>
	              <div class="text-success icon-ok align-right"></div>
	          </div>
	          <div class="box-content box-statistic">
	              <h3 class="title text-info">123</h3>
	              <small>发送失败</small>
	              <div class="text-info icon-time align-right"></div>
	          </div>
	      </div>
	  </div>
	</div>

    <div class='span4 box'>
        <div class='box-header'>
            <div class='title'>Green</div>
            <div class='actions'>
                <a href="#" class="btn box-remove btn-mini btn-link"><i class='icon-remove'></i>
                </a>
                <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
                </a>
            </div>
        </div>
        <div class='box-content'>
            <div class='accordion accordion-green' id='accordion2' style='margin-bottom:0;'>
                <% current_user.sms_tmps.each_with_index do |item, index| %> 
                <div class='accordion-group'>
                    <div class='accordion-heading'>
                        <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#collapse<%=index%>-accordion2'>
                          <%= item.title %>
                        </a>
                    </div>
                    <div class='accordion-body collapse' id='collapse<%=index%>-accordion2'>
                        <div class='accordion-inner'>
                           <%= item.content %>

                           <%= link_to 'Edit', edit_sms_tmp_path(item) %>
                           <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>


    <div class="span4 box box-bordered box-nomargin">
      <div class="box-header blue-background">
          <div class="title">编辑短信模板</div>
          <div class="actions">
              <a href="#" class="btn box-remove btn-mini btn-link"><i class="icon-remove"></i>
              </a>
              <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
              </a>
          </div>
      </div>
      <div class="box-content">
        <%= render 'sms_tmps/form' %>
      </div>
    </div>

    

	
</div>

<hr class="hr-double">

<%= render :partial => "components/fileupload" %>

<!-- datatable -->
<div class='row-fluid'>
<div class='span12 box bordered-box orange-border' style='margin-bottom:0;'>
<div class='box-header purple-background'>
    <div class='title'>Data table with column filter in footer</div>
    <div class='actions'>
        <a href="#" class="btn box-remove btn-mini btn-link"><i class='icon-remove'></i>
        </a>
        <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
        </a>
    </div>
</div>
<div class='box-content box-no-padding'>
<div class='responsive-table'>
<div class='scrollable-area'>

<table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
<thead>
<tr>
    <th>
        Name
    </th>
    <th>
        E-mail
    </th>
    <th>
        Status
    </th>
    <th><a onClick="javascript: ToggleCheck();" href="#">选择</a>
    <a onClick="javascript: ToggleCheck();" href="#">发送短信</a>
    </th>
</tr>
</thead>
<tbody>
<tr>
    <td>Lavern Oberbrunner</td>
    <td>antonette@hotmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>America Champlin</td>
    <td>marques@hotmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Stone Herman</td>
    <td>romaine@yahoo.com</td>
    <td>
        <span class='label label-warning'>Warning</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Arjun Ernser</td>
    <td>estefania@hotmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Marina Zemlak</td>
    <td>emmanuelle@hotmail.com</td>
    <td>
        <span class='label label-warning'>Warning</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Jarvis Cummings</td>
    <td>amira@hotmail.com</td>
    <td>
        <span class='label label-success'>Success</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Kip Bruen</td>
    <td>misty@gmail.com</td>
    <td>
        <span class='label label-success'>Success</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Mayra Kohler</td>
    <td>lizzie@gmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Jamey Ward</td>
    <td>marty@gmail.com</td>
    <td>
        <span class='label label-warning'>Warning</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Ken Beer</td>
    <td>lenny@yahoo.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Celine Collier</td>
    <td>kristina@yahoo.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Madaline Klocko</td>
    <td>rahsaan@gmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Golda Paucek</td>
    <td>dagmar@yahoo.com</td>
    <td>
        <span class='label label-success'>Success</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Jevon Wisoky</td>
    <td>mara@gmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Yvonne King</td>
    <td>pearlie@hotmail.com</td>
    <td>
        <span class='label label-warning'>Warning</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Uriel Brakus</td>
    <td>kyleigh@gmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Bennie Bernhard</td>
    <td>lexi@gmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Juanita Glover</td>
    <td>jasen@yahoo.com</td>
    <td>
        <span class='label label-success'>Success</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Asha Reynolds</td>
    <td>van@yahoo.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Donnell Bode</td>
    <td>jakob@hotmail.com</td>
    <td>
        <span class='label label-warning'>Warning</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
</tbody>
<tfoot>
<tr>
    <th>Name</th>
    <th>E-mail</th>
    <th colspan='2'>Status</th>
</tr>
</tfoot>
</table>
</div>
</div>
</div>
</div>
</div>
