<div class='container-fluid'>
    <div class='row-fluid' id='content-wrapper'>
        <div class='span12'>
            <div class='row-fluid'>
                <div class='span12'>
                    <div class='page-header'>
                        <h1 class='pull-left'>
                            <i class='icon-edit'></i>
                            <span>创建网站四步骤</span>
                        </h1>
                        <div class='pull-right'>
                            <ul class='breadcrumb'>
                                <li>
                                    <a href="index.html"><i class='icon-bar-chart'></i>
                                    </a>
                                </li>
                                <li class='separator'>
                                    <i class='icon-angle-right'></i>
                                </li>
                                <li>
                                    站内通
                                </li>
                                <li class='separator'>
                                    <i class='icon-angle-right'></i>
                                </li>
                                <li class='active'>创建网站</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row-fluid'>
                <div class='span12 box'>
                    <div class='box-content box-padding'>
											<div class='fuelux'>
											    <div class='wizard'>
											        <ul class='steps'>
											            <li data-target='#step1'>
											                <span class='step'>1</span>
											            </li>
											            <li data-target='#step2'>
											                <span class='step'>2</span>
											            </li>
											            <li data-target='#step3'>
											                <span class='step'>3</span>
											            </li>
											            <li class='active' data-target='#step4'>
                                      <span class='step'>4</span>
                                  </li>
											        </ul>
											    </div>
											    <div class='step-content'>
											        <hr class='hr-normal'>

											          <div class='step-pane' id='step1'>
											            <div class="alert alert-info">网站名称一旦创建成功就不能修改</div>
											          </div>
											          <div class='step-pane' id='step2'>
																	<%= render layout: 'form' do |f| %>
																	  <fieldset>
																	    <%= f.input :theme_id %>
																	  </fieldset>
																	<% end %>
											          </div>
											          <div class='step-pane' id='step3'>
																	<%= render layout: 'form' do |f| %>
																	  <fieldset>
																	    <%= f.input :head %>
																	    <%= f.input :header %>
																	    <%= f.input :body %>
																	    <%= f.input :footer %>
																	  </fieldset>
																	<% end %>
											          </div>
											          <div class='step-pane active' id='step4'>
											            <%= render layout: 'form' do |f| %>
																	  <fieldset>
																	    <%= f.input :is_published %>
																	  </fieldset>
																	<% end %>
											          </div>
											    </div>
											</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


