<!DOCTYPE html>
<html>
  <%=render :partial => 'layouts/head' %>

  <body class="wysihtml5-supported contrast-red">
    <%= render :partial => 'layouts/header' %>
    <div id="wrapper">
      <div id="main-nav-bg"></div>
      <nav id="main-nav"><%= render 'layouts/nav' %></nav>
      <section id="content">
        <div class="container-fluid">
          <div class="row-fluid" id="content-wrapper">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
